h1 {
  font-family: 'Lato', sans-serif;
}

@media (max-width:540px){
  .profile-pic {
    max-width: 350px;
    max-height: 350px;
  }
}

.youtube-link {
  text-decoration: none;
  color: orange;
}

.youtube-link:hover {
  color: #8B4000;
  transition: color 1s;
}

.footer-link {
  text-decoration: none;
  color: orange;
}

.footer-link:hover {
  color : #8B4000;
  transition: color 1s
}
