.dropdown-toggle::after {
  display: none;
}

.navbar-nav a {
  font-family: 'Karla', sans-serif;
  font-size: 19px;
}

.navbar-toggler {
  border: none;
  color: black;
  padding: 7px 9px;
  }

.dropdown-menu {
  padding: 15px 20px;

  }

.dropdown-item:hover {
  background: #FFD580;
  border-radius: 25px;
}

.dropdown-item:focus {
  background-color: #8B4000;
  color: white;
}

.navbar-brand {
  color: black;
  padding-right: 15px;
}

.navbar-brand .fa-youtube:hover {
  color: red;
  transition: color 0.5s;
}

.navbar-brand .fa-facebook:hover {
  color: blue;
  transition: color 0.5s;
}

.navbar-brand .fa-instagram:hover {
  color: purple;
  transition: color 0.5s;
}
